body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 200px;
    z-index: 1; /* Bring footer above other content */
    background-color: rgba(255, 255, 255, 0.9); /* Optional: Add background for visibility */
    margin-top: 20px;
}

#footer.footer_container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    position: relative;
}

#player {
    height: 200px;
    overflow: hidden;
    width: 100%;
    
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#responseContainer {
    width: 75%;
    height: auto;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
